= form_for @collection do |f|
  .container-fluid
    .row
      .form-horizontal
        .form-group
          = f.label :title, "Title", class: "control-label col-md-2"
          .col-md-6
            = f.text_field :title, required: true, pattern: ".*\\S.*", name: 'collection[title][]', class: "form-control", placeholder: "University Libraries"
        .form-group
          = f.label :description, "Description", class: "control-label col-md-2"
          .col-md-6
            = f.text_area :description, required: true, pattern: ".*\\S.*", name: 'collection[description][]', class: "form-control", placeholder: "Brief description of the collection"
            %p.small.help-block="This field accepts plain text"
        .form-group
          = f.label :community, "Project", class: "control-label col-md-2"
          .col-md-6
            - parent = !@collection.community.blank? ? @collection.community.pid : params[:community]
            = f.select :community, options_for_select(@communities, parent), {}, {name: "community", class: "form-control"}
        .form-group
          = f.label :mass_permissions, "Visibility", class: "control-label col-md-2"
          .col-md-6
            = f.select :mass_permissions, options_for_select(['public', 'private'], @collection.mass_permissions), {}, {:class => "form-control", :name=> "mass_permissions"}
        .form-group
          = f.label :thumbnail, "Thumbnail", class: "control-label col-md-2"
          .col-md-6
            - if !@collection.thumbnail_list.blank?
              =image_tag @collection.download_path('thumbnail_1')
              = f.label :remove_thumbnail, "Remove Thumbnail"
              = f.check_box "remove_thumbnail", {:checked => false}
            = f.file_field :thumbnail, accept: ".jpeg, .jpeg, .png", name: "thumbnail"


    %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
