- if current_user_can? :edit, @collection
  = link_to "Edit", edit_collection_path(@collection), class:['btn', 'btn-info', 'btn-large']

%h2.page-header= @collection.title

%p= @collection.description

%row
  %col-md-3
    %dt= "Project"
    %dd= @collection.community

  %col-md-9
    %dt= "Records"
    %h3= @collection.children
