%h2.page-header= "User Account"

%ul.nav.nav-tabs
  %li.active
    = link_to "Create New Account", '#new'
  %li
    = link_to "Sign In", '#sign_in'
  %li
    = link_to "Recover Password", '#password'

.tab-content
  #new.tab-pane.active
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      %div.form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :name, required: true
        = f.input :institution_id, collection: Institution.all, value_method: :id, label_method: :name, prompt: 'Please select institution'
        = f.input :password, required: true
        %p.help-block
          = "Minimum length: 8 characters"
        = f.input :password_confirmation, required: true
        = f.input :avatar
        = f.input :bio
      %div.form-actions
        = f.button :submit, "Sign up"

  #sign_in.tab-pane
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %div.form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      %div.form-actions
        = f.button :submit, "Sign in"

  #password.tab-pane
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
      = f.error_notification
      %div.form-inputs
        = f.input :email, required: true, autofocus: true
      %div.form-actions
        = f.button :submit, "Send me reset password instructions"

:javascript
  $('.nav-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

