%h2.page-header= "User Account"

%ul.nav.nav-tabs
  %li.active
    = link_to "Create New Account", '#new'
  %li
    = link_to "Sign In", '/users/sign_in'
  %li
    = link_to "Recover Password", '/users/password/new'

.tab-content
  #new.tab-pane.active
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      %div.form-inputs
        = f.label :account_type, "Account Type"
        %br
        = f.select :account_type, options_for_select([['Free Account', 'free'], ['TEI-C Member Account', 'teic'], ['TEI-C Member via my institution', 'teic_inst']], 'free'), {}, required: true, class:"form-control"
        %p.help-block
          %a{:href=>"/pages/choosing-account"}
            = "More information about TAPAS accounts and TEI membership"
        = f.input :email, required: true, autofocus: true
        = f.input :name, required: true
        = f.input :institution_id, collection: Institution.all, value_method: :id, label_method: :name, prompt: 'Please select institution'
        = f.input :password, required: true
        %p.help-block
          = "Minimum length: 8 characters"
        = f.input :password_confirmation, required: true
        = f.input :avatar
        = f.input :bio
      %div.form-actions
        = f.button :submit, "Sign up"

  #sign_in.tab-pane


  #password.tab-pane


:javascript
  $('.nav-tabs a').click(function (e) {
    e.preventDefault();
    if (e.currentTarget.href.indexOf('#') != -1){
      $(this).tab('show');
    } else {
      window.location = e.currentTarget.href;
    }
  });

