%ol.dd-list
  - links.each do |l|
    - if l.parent_link_id.blank?
      %li.dd-item{"data-id"=>l.id}
        %div.dd-handle
          = "#{l.link_text} (#{l.link_href})"
        = link_to("Edit", edit_menu_link_path(l), "class"=>"inline-block")
        - child_links = MenuLink.all.where(:parent_link_id => l.id).order(:link_order)
        - if !child_links.blank?
          %ol.dd-list
            - child_links.each do |cl|
              %li.dd-item{"data-id"=>cl.id}
                %div.dd-handle
                  = "#{cl.link_text} (#{cl.link_href})"
                = link_to("Edit", edit_menu_link_path(cl), "class"=>"inline-block")
