%h2.page_title
  = "Admin"

%hr

%h3
  = "Static Pages"
=link_to "Create New Page", new_page_path, class:['btn', 'btn-primary', 'btn-large']
%br
=link_to "View all Pages", pages_path, class:['btn', 'btn-primary', 'btn-large']

%h3
  = "News"
=link_to "Create New News Item", new_news_item_path, class:['btn', 'btn-primary', 'btn-large']
%br
=link_to "View all News Items", news_items_path, class:['btn', 'btn-primary', 'btn-large']

%h3
  = "View Packages"
=link_to "View all View Packages", view_packages_path, class:['btn', 'btn-primary', 'btn-large']
=link_to "Run View Package Job"

%h3
  = "Menus"
=link_to "Manage Menus", menu_links_path, class:['btn', 'btn-primary', 'btn-large']

%h3
  = "Users"
=link_to "Create New User", new_user_path, class:['btn', 'btn-primary', 'btn-large']
%br
=link_to "View all Users", users_path, class:['btn', 'btn-primary', 'btn-large']
%br
=link_to "Send Mail to all Users", mail_users_path, class:['btn', 'btn-primary', 'btn-large']
