%h2.page_title
  = "Admin"

%hr

%h3
  = "Static Pages"
=link_to "Create New Page", new_page_path, class:['btn', 'btn-primary', 'btn-large']
%br
=link_to "View all Pages", pages_path, class:['btn', 'btn-primary', 'btn-large']

%h3
  = "View Packages"
=link_to "View all View Packages", view_packages_path, class:['btn', 'btn-primary', 'btn-large']
=link_to "Run View Package Job"

%h3
  = "Menus"

%h3
  = "Users"
