<div class="container">
  <h1>
    <%= t :view_packages %>
  </h1>
</div>
<div class="container row">
  <ul class="breadcrumb">
    <% if current_user && current_user.admin? %>
      <li>
        <%= link_to("Admin", admin_path) %>
      </li>
    <% end %>
    <li>
      <%= t :view_packages %>
    </li>
  </ul>
</div>
<div class="container">
  <% if @view_packages.length > 0 %>
    <% @view_packages.each do |view| %>
      <div class="row">
        <h3>
          <%= link_to(view.human_name, view_package_path(view.id)) %>
        </h3>
        <br>
        <p>
          <%= view.description %>
        </p>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      There are currently no view packages available
    </div>
  <% end %>
</div>
