<div class="row">
  <h1>
    <%= "View Packages" %>
  </h1>
</div>
<div class="row">
  <ul class="breadcrumb">
    <% if current_user && current_user.admin? %>
      <li>
        <%= link_to("Admin", admin_path) %>
      </li>
    <% end %>
    <li>
      <%= "View Packages" %>
    </li>
  </ul>
</div>
<% if @view_packages.length > 0 %>
  <% @view_packages.each do |view| %>
    <div class="row">
      <h3>
        <%= link_to(view.human_name, view_package_path(view.id)) %>
      </h3>
      <br>
      <p>
        <%= view.description %>
      </p>
    </div>
  <% end %>
<% else %>
  <div class="row">
    There are currently no view packages available
  </div>
<% end %>
