%h1= @view.human_name
%ul.breadcrumb
  %li= link_to("View Packages", view_packages_path)
  %li= @view.human_name
%h3
  = link_to(@view.human_name, view_package_path(@view.id))
- if !@view.description.blank?
  %h4= "Description"
  %p= @view.description
- if !@view.file_type.blank?
  %h4= "File Types"
  %ul
    - @view.file_type.each do |file|
      %li= file
- if !@view.css_dir.blank?
  %h4= "CSS directory"
  %p= @view.css_dir
- if !@view.js_dir.blank?
  %h4= "Javascript directory"
  %p= @view.js_dir
-if !@view.parameters.blank?
  %h4= "Parameters"
  %table.table.table-bordered.table-striped
    %tr
      %th= "Name"
      %th= "Description"
    - @view.parameters.each do |param, desc|
      %tr
        %td= param
        %td= desc
-if !@view.run_process.blank?
  %h4="Process to Run"
  %table.table.table-borderd.table-striped
    %tr
      %th= "Type"
      %th= "File Path"
    - @view.run_process.each do |param, desc|
      %tr
        %td= param
        %td= desc
