= form_for @core_file do |f|
  .container-fluid
    .row
      .form-horizontal
        .form-group
          = f.label :title, "Title", class: "control-label col-md-2"
          .col-md-6
            = f.text_field :title, required: true, pattern: ".*\\S.*", name: 'title', class: "form-control", placeholder: "Record Title"
        .form-group
          = f.label :description, "Description", class: "control-label col-md-2"
          .col-md-6
            = f.text_area :description, required: true, pattern: ".*\\S.*", name: 'description', class: "form-control", placeholder: "Brief description of the record"

        .form-group.authors
          = f.label :authors, "Authors", class: "control-label col-md-2"
          .col-md-6
            - if @core_file.authors.blank?
              %span.author
                = f.text_field :authors, pattern: ".*\\S.*", name: 'display_authors[]', class: "form-control", placeholder: "Name(s) of persons responsible for the creation of document", value: ""
            - else
              - @core_file.authors.each_with_index do |name, i|
                %span.author{:class=>i != 0 ? ".to-remove" : ""}
                  = f.text_field :authors, pattern: ".*\\S.*", value: name, name: 'display_authors[]', class: "form-control input-block-level"
                  - if i != 0
                    %button.btn.btn-small.btn-danger{"data-delete" => "", "data-target" => ".to-remove", title: "Remove author", type: "button"}
                      %i.fa.fa-remove
                  %br
            %button#add_another_author.btn.btn-success{:type => "button"}
              %i.fa-plus-sign.fa
              Add Author

        .form-group.contributors
          = f.label :contributors, "Contributors", class: "control-label col-md-2"
          .col-md-6
            - if @core_file.contributors.blank?
              %span.contributor
                = f.text_field :contributors, pattern: ".*\\S.*", name: 'display_contributors[]', class: "form-control", placeholder: "Name(s) of contributors responsible for the creation of this TAPAS record", value: ""
            - else
              - @core_file.contributors.each_with_index do |name, i|
                %span.contributor{:class=>i != 0 ? ".to-remove" : ""}
                  = f.text_field :contributors, pattern: ".*\\S.*", value: name, name: 'display_contributors[]', class: "form-control input-block-level"
                  - if i != 0
                    %button.btn.btn-small.btn-danger{"data-delete" => "", "data-target" => ".to-remove", title: "Remove contributor", type: "button"}
                      %i.fa.fa-remove
                  %br
            %button#add_another_contributor.btn.btn-success{:type => "button"}
              %i.fa-plus-sign.fa
              Add Contributor

        .form-group
          = f.label :collections, "Collection", class: "control-label col-md-2"
          .col-md-6
            - if @core_file.collections.blank?
              %span.collection
                = f.select :collections, options_for_select(@collections, parent), {}, {name: "collections[]", class: "form-control"}
            - else
              - @core_file.collections.each_with_index do |col, i|
                %span.collection{:class=>i != 0 ? ".to-remove" : ""}
                  = f.select :collections, options_for_select(@collections), {}, {name: "collections[]", class: "form-control input-block-level"}
                  - if i != 0
                    %button.btn.btn-small.btn-danger{"data-delete" => "", "data-target" => ".to-remove", title: "Remove collection", type: "button"}
                      %i.fa.fa-remove
                  %br
            %button#add_another_collection.btn.btn-success{:type => "button"}
              %i.fa-plus-sign.fa
              Add Collection

        .form-group
          = f.label "Ography Type", class: "control-label col-md-2"
          .col-md-6
          -# TODO - get this working
            -# - CoreFile.all_ography_read_methods.each do |m|
            -#   .checkbox
            -#     = f.check_box m, {}, @core_file.collections

        .form-group
          = f.label :tei, "File", class: "control-label col-md-2"
          .col-md-6
            = f.file_field 'tei', name: "tei"
            -if @core_file.canonical_object
              %p
                ="Current File:"
                %a{href: @core_file.canonical_object.download_path}
                  %span.fa.fa-file-code-o
                  = @core_file.canonical_object.filename
        .form-group
          = f.label :mass_permissions, "Visibility", class: "control-label col-md-2"
          .col-md-6
            = f.select :mass_permissions, options_for_select(['public', 'private'], @core_file.mass_permissions), {}, {class: "form-control", name: "mass_permissions"}
        .form-group
          = f.label :thumbnail, "Thumbnail", class: "control-label col-md-2"
          .col-md-6
            - if !@core_file.thumbnail.blank?
              =image_tag @core_file.thumbnail.download_path('thumbnail_1')
            = f.file_field :thumbnail, accept: ".jpeg, .jpeg, .png"

    -# TODO add support_files?

    %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
