= form_for @core_file do |f|
  .container-fluid
    .row
      .form-horizontal
        .form-group
          = f.label :title, "Title", class: "control-label col-md-2"
          .col-md-6
            = f.text_field :title, required: true, pattern: ".*\\S.*", class: "form-control", placeholder: "Record Title"
        .form-group
          = f.label :description, "Description", class: "control-label col-md-2"
          .col-md-6
            = f.text_area :description, pattern: ".*\\S.*", class: "form-control", placeholder: "Brief description of the record"
            %p.small.help-block="This field accepts plain text"

        .form-group.authors
          = f.label :authors, "Authors", class: "control-label col-md-2"
          .col-md-6
            %span.author
              = f.select :authors, options_from_collection_for_select(@users, 'id', 'email'), {}, {class: "form-control", multiple: true}

        .form-group.contributors
          = f.label :contributors, "Contributors", class: "control-label col-md-2"
          .col-md-6
            %span.contributor
              = f.select :contributors, options_from_collection_for_select(@users, 'id', 'email'), {}, { class: "form-control", multiple: true }

        .form-group
          = f.label :collections, "Collection", class: "control-label col-md-2"
          .col-md-6
            %span.collection
              = f.select :collections, options_from_collection_for_select(@collections, 'id', 'title'), {}, {class: "form-control", multiple: true}

        -# TODO: (charles) Figure out why we need Ography Type and reimplement it
        -# .form-group
        -#   = f.label "Ography Type", class: "control-label col-md-2"
        -#   .col-md-6
        -#     = f.select :file_type, options_for_select(@file_types, @sel_file_types), {}, {name: "file_types[]", class: "form-control", multiple: true}
        -#     %p.help-block
        -#       = "Select multiple values by holding CTRL"

        - if current_user.admin?
          .form-group
            = f.label :featured, class: "control-label col-md-2"
            .col-md-6
              .checkbox
                = f.check_box :featured, {}, "true"
        .form-group
          = f.label :canonical_object, "File", class: "control-label col-md-2"
          .col-md-6
            = f.file_field :canonical_object, direct_upload: true
            -if @core_file.canonical_object.attached?
              %p
                ="Current File:"
                %a{href: rails_blob_path(@core_file.canonical_object, disposition: "attachment")}
                  %span.fa.fa-file-code-o
                    = @core_file.canonical_object.filename
        .form-group
          = f.label :is_public, "Public?", class: "control-label col-md-2"
          .col-md-6
            = f.check_box :is_public, { checked: true }
        .form-group
          = f.label :thumbnail, "Thumbnail", class: "control-label col-md-2"
          .col-md-6
            - if @core_file.thumbnail.attached?
              =image_tag url_for(@core_file.thumbnail)
              = f.label :remove_thumbnail, "Remove Thumbnail"
              = f.check_box "remove_thumbnail", {:checked => false}
            = f.file_field :thumbnail, accept: ".jpeg, .jpeg, .png"

    -# TODO add support_files?

    %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
