= form_for @core_file do |f|
  .container-fluid
    .row
      .form-horizontal
        .form-group
          = f.label :title, "Title", class: "control-label col-md-2"
          .col-md-6
            = f.text_field :title, required: true, pattern: ".*\\S.*", class: "form-control", placeholder: "Record Title"
        .form-group
          = f.label :description, "Description", class: "control-label col-md-2"
          .col-md-6
            = f.text_area :description, pattern: ".*\\S.*", class: "form-control", placeholder: "Brief description of the record"
            %p.small.help-block="This field accepts plain text"

        .form-group.authors
          = f.label :author_ids, "Authors", class: "control-label col-md-2"
          .col-md-6
            %span.author
              = f.select :author_ids, options_from_collection_for_select(@users, 'id', 'email', @core_file.authors.map(&:id)), {}, {class: "form-control", multiple: true} |

        .form-group.contributors
          = f.label :contributor_ids, "Contributors", class: "control-label col-md-2"
          .col-md-6
            %span.contributor
              = f.select :contributor_ids, options_from_collection_for_select(@users, 'id', 'email', @core_file.contributors.map(&:id)), {}, { class: "form-control", multiple: true }

        .form-group
          = f.label :collection_ids, "Collection", class: "control-label col-md-2"
          .col-md-6
            %span.collection
              = f.select :collection_ids, options_from_collection_for_select(@collections, 'id', 'title', @core_file.collections.map(&:id)), {}, {class: "form-control", multiple: true}

        -# TODO: (charles) Figure out why we need Ography Type and reimplement it
        -# .form-group
        -#   = f.label "Ography Type", class: "control-label col-md-2"
        -#   .col-md-6
        -#     = f.select :file_type, options_for_select(@file_types, @sel_file_types), {}, {name: "file_types[]", class: "form-control", multiple: true}
        -#     %p.help-block
        -#       = "Select multiple values by holding CTRL"

        - if current_user.admin?
          .form-group
            = f.label :featured, "Featured?", class: "control-label col-md-2"
            .col-md-6
              = f.check_box :featured, {}, true
        .form-group
          = f.label :canonical_object, "File", class: "control-label col-md-2"
          .col-md-6
            = f.file_field :canonical_object, direct_upload: true
            -if @core_file.canonical_object.attached?
              %p
                ="Current File:"
                %a{href: rails_blob_path(@core_file.canonical_object, disposition: "attachment")}
                  %span.fa.fa-file-code-o
                    = @core_file.canonical_object.filename
        .form-group
          = f.label :is_public, "Public?", class: "control-label col-md-2"
          .col-md-6
            = f.check_box :is_public, { checked: true }
        .form-group
          = f.label :thumbnails, "Thumbnails", class: "control-label col-md-2"
          .col-md-6
            - if @core_file.thumbnails.attached?
              - @core_file.thumbnails.each do |t|
                =image_tag url_for(t)
              = f.label :remove_thumbnail, "Remove Thumbnail"
              = f.check_box "remove_thumbnail", {:checked => false}
            = f.file_field :thumbnails, accept: ".jpeg, .jpeg, .png", direct_upload: true, multiple: true

    -# TODO add support_files?

    %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
