= form_for @core_file do |f|
  %fieldset
    .container-fluid
      .form-group
      .row
        .col-md-1
          = f.label :title, "Title", class: "control-label"
        .col-md-4
          = f.text_field :title, required: true, pattern: ".*\\S.*", name: 'title', class: "form-control input-block-level", placeholder: "University Libraries"
      .row
        .col-md-1
          = f.label :description, "Description", class: "control-label"
        .col-md-4
          = f.text_field :description, required: true, pattern: ".*\\S.*", name: 'description', class: "form-control input-block-level", placeholder: "University Libraries"
      .row
        .col-md-1
          = f.label :mass_permissions, "Visibility"
        .col-md-4
          = f.select :mass_permissions, options_for_select(['public', 'private'], @core_file.mass_permissions), {:class => "form-control"}, name: "mass_permissions"
      .row
        .col-md-1
          = f.label :authors, "Authors", class: "control-label"
        .col-md-4
          = f.text_field :authors, pattern: ".*\\S.*", name: 'display_authors', class: "form-control input-block-level", placeholder: "University Libraries"

      .row
        .col-md-1
          = f.label :contributors, "Contributors", class: "control-label"
        .col-md-4
          = f.text_field :contributors, pattern: ".*\\S.*", name: 'display_contributors', class: "form-control input-block-level", placeholder: "University Libraries"
      .row
        .col-md-1
          = f.label :collection, "Collection"
        .col-md-4
          - parent = !@core_file.collection.blank? ? @core_file.collection.pid : nil
          = f.select :collection, options_for_select(@arr, parent), name: "collection"
      .row
        .col-md-1
          = f.label :tei, "File"
        .col-md-4
          .field
            = f.label 'New file'
            = f.file_field 'tei', name: "tei"
          .actions
            = f.submit 'Save'
    -# %hr
    -# %legend Thumbnail (Optional)
    -# - if !@community.properties.thumbnail_list[0].blank?
    -#   =image_tag @community.properties.thumbnail_list[0]
    -# %fieldset
    -#   .row-fluid
    -#     .span8
    -#       = f.label :thumbnail, "Thumbnail"
    -#       = f.file_field :thumbnail, name: 'thumbnail', accept:".jpg,.jpeg,.png"
    %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
