<div class="reading">
  <link rel="stylesheet" type="text/css" id="reader_css_1" href="/view_packages/tapas-generic/css/generic.css">
  <link rel="stylesheet" type="text/css" id="reader_css_2" href="/view_packages/tapas-generic/css/tapasGnormal.css">
  <link rel="stylesheet" type="text/css" id="reader_css_3" href="/view_packages/tapas-generic/css/tapasGdiplo.css">
  <div class="row">
    <div class="checkbox">
      <label for="toggle_word_wrap">
        <%= "Toggle Soft Wrap" %>
      </label>
      <%= check_box_tag :toggle_word_wrap,  id:'toggle_word_wrap', name:'toggle_word_wrap' %>
    </div>
    <div class="checkbox">
      <label for="toggle_invisibles">
        <%= "Toggle Invisibles" %>
      </label>
      <%= check_box_tag :toggle_invisibles, id:'toggle_invisibles', name: 'toggle_invisibles' %>
    </div>
  </div>
  <div id="reader-node"></div>
  <div class="spinner" id="reading-interface-loading-spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>
<script src="/assets/saxon-js/SaxonJS2.js"></script>
<script id="core-file-url" data-url="<%= rails_blob_path(@core_file.canonical_object) %>"></script>
