<ul class="breadcrumb">
  <li>
    <%= link_to @core_file.project.title, community_path(@core_file.project) %>
  </li>
  <li class="collection">
    <% if @core_file.collections.count > 1 %>
      <% @core_file.collections.each_with_index do |col, i| %>
        <%= link_to col.title, collection_path(col) %>
        <% if i+1 != @core_file.collections.count %>
          <%= ", " %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to @core_file.collections.first.title, collection_path(@core_file.collections.first) %>
    <% end %>
  </li>
  <li>
    <%= @core_file.title %>
  </li>
</ul>

<div class="container">
  <h2 class="page-header">
    <%= @core_file.title %>
  </h2>

  <% if can? :manage, @core_file %>
    <%= link_to "Edit", edit_core_file_path(@core_file), class: ['btn', 'btn-info'] %>
    <%= link_to "Delete", core_file_path(@core_file), class: ['btn', 'btn-danger'], method: "delete", confirm: "Are you sure you want to delete this file?" %>
  <% end %>

  <div class="py-4">
    <ul class="nav nav-tabs" id="core-file-tabs" role="tablist">
      <li class="active" role="presentation">
        <%= link_to "Reader", '#reader', { "aria-controls": "reader", role: "tab", "data-toggle": "tab" } %>
      </li>
      <li role="presentation">
        <%= link_to "Metadata", '#metadata', { "aria-controls": "metadata", role: "tab", "data-toggle": "tab" } %>
      </li>
      <li role="presentation">
        <%= link_to "Files", '#files', { "aria-controls": "files", role: "tab", "data-toggle": "tab" } %>
      </li>
      <li role="presentation">
        <%= link_to "Project Details", '#project_details', { "aria-controls": "project_details", role: "tab", "data-toggle": "tab" } %>
      </li>
    </ul>

    <div class="border p-5 tab-content">
      <div class="tab-pane active" id="reader" role="tabpanel">
        <%= render partial: 'view_package_options', locals: { core_file: @core_file, view_packages: @view_packages } %>
        <%= render partial: 'reading_interface', locals: { core_file: @core_file, view_packages: @view_packages } %>
      </div>
      <div class="tab-pane" id="metadata" role="tabpanel">
        <%= @mods_html %>
        <% if @core_file.file_type != :tei_content %>
          <dt>File Type</dt>
          <dd>
            <ul>
              <% @core_file.ography_type.each do |ot| %>
                <li>
                  <%= ot.titleize %>
                </li>
              <% end %>
            </ul>
          </dd>
        <% end %>
      </div>
      <div class="tab-pane" id="files" role="tabpanel">
        <% if @core_file.canonical_object.attached? %>
          <dt>TEI File:</dt>
          <dd>
            <a href="<%= rails_blob_path(@core_file.canonical_object, disposition: "attachment") %>">
              <span class="fa fa-file-code-o"></span>
              <%= @core_file.canonical_object.filename %>
            </a>
          </dd>
        <% end %>
        <% # TODO add other auxilliary files %>
      </div>
      <div class="tab-pane" id="project_details" role="tabpanel">
        <% if @core_file.project %>
          <dt>Project:</dt>
          <dd>
            <%= link_to @core_file.project.title, community_path(@core_file.project) %>
          </dd>
          <% unless @core_file.project.depositor.nil? %>
            <% depositor = @core_file.project.depositor %>
            <dt>Project Owner:</dt>
            <dd>
              <%= link_to depositor.to_s, user_path(depositor) %>
            </dd>
          <% end %>
          <% if !@core_file.project.description.blank? %>
            <dt>Project Description:</dt>
            <dd>
              <%= @core_file.project.description %>
            </dd>
          <% end %>
        <% end %>
        <% if @core_file.collections %>
          <dt>Collections:</dt>
          <% @core_file.collections.each do |c| %>
            <dd>
              <%= link_to c.title, collection_path(c) %>
            </dd>
          <% end %>
        <% end %>
        <% if @core_file.is_ography? %>
          <dt>Ography Type:</dt>
          <% @core_file.ography_type.each do |o| %>
            <dd>
              <%= o.titleize %>
            </dd>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "core_files" %>
<% # FIXME: =javascript_include_tag "ace/ace" %>
