-# encoding: utf-8
-# coding: UTF-8
- cftitle = @core_file.title.encode(Encoding.find('UTF-8'), {invalid: :replace, undef: :replace, replace: ''})
-# %ul.breadcrumb
-#   %li
-#     = link_to @core_file.project.title, community_path(@core_file.project)
-#   %li.collection
-#     -if @core_file.collections.count > 1
-#       -@core_file.collections.each_with_index do |col, i|
-#         = link_to col.title, collection_path(col)
-#         - if i+1 != @core_file.collections.count
-#           = ", "
-#     - else
-#       = link_to @core_file.collections.first.title, collection_path(@core_file.collections.first)
-#   %li
-#     = @cftitle

-# - if current_user_can? :edit, @core_file
  -# = link_to "Edit", edit_core_file_path(@core_file), class:['btn', 'btn-info', 'btn-large']

%h2.page-header= @cftitle

%div.tabbable.tabs-left.vertical-tabs.node
  %ul.nav.nav-tabs.vertical-tabs-list
    %li.vertical-tab-button.active
      = link_to "Reader", '#reader'
    %li.vertical-tab-button
      = link_to "Metadata", '#metadata'
    %li.vertical-tab-button
      = link_to "Files", '#files'
    %li.vertical-tab-button
      = link_to "Project Details", '#project_details'

  .tab-content.vertical-tabs-panes
    #reader.tab-pane.active
      = render partial:'view_package_options', locals:{core_file: @core_file, view_packages:@view_packages}
      = render partial:'reading_interface', locals:{core_file:@core_file, view_packages:@view_packages}

    #metadata.tab-pane
      = @mods_html

    #files.tab-pane
      -if @core_file.canonical_object
        %dt TEI File:
        %dd
          %a{href: @core_file.canonical_object.download_path}
            %span.fa.fa-file-code-o
            = @core_file.canonical_object.filename
      -# TODO add other auxilliary files

    #project_details.tab-pane
      -if @core_file.project
        %dt Project:
        %dd= link_to @core_file.project.title, community_path(@core_file.project)
        -if User.exists?(@core_file.project.depositor)
          - depositor = User.find(@core_file.project.depositor)
          %dt Project Owner:
          %dd= link_to depositor.to_s #, user_path(depositor) TODO make user profile
        -if !@core_file.project.description.blank?
          %dt Project Description:
          %dd= @core_file.project.description
      -if @core_file.collections
        %dt Collections:
        -@core_file.collections.each do |c|
          %dd= link_to c.title.first, collection_path(c)
      -if @core_file.is_ography?
        %dt Ography Type:
        - @core_file.ography_type.each do |o|
          %dd= o.titleize

:javascript
  $('.nav-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

=javascript_include_tag "core_files"
=javascript_include_tag "ace/ace"
