<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'catalog/search_sidebar' %>
  <p><%= link_to "Create New Community", {:action => 'new'}%></p>
</div>

<div id="content" class="<%= main_content_classes %>">
  <%= render 'catalog/search_results' %>
</div>
