%h1= "Pages"
%ul.breadcrumb
  %li= link_to("Admin", admin_path)
  %li= "Pages"
=link_to "Create New Page", new_page_path, class:['btn', 'btn-primary', 'btn-large']
-if @pages.length > 0
  %table.table.table-striped
    %tr
      %th
        = "Page"
      %th
        = "Updated at"
    - @pages.each do |page|
      %tr
        %td
          %h3
            = link_to(page.title, page_path(page.slug))
            - if current_user.admin?
              %a.btn.btn-default.btn-sm{:href=>edit_page_path(page.id)}
                = "Edit"
              %a.btn.btn-danger.btn-sm{:href=>page_path(page.id), "data-method"=>"delete"}
                %i.fa.fa-trash
        %td
          = page.updated_at
-else
  There are currently no pages available
