- if current_user && current_user.admin?
  = link_to "Edit", edit_page_path(@page), class:['btn', 'btn-info', 'btn-large']
  %ul.breadcrumb
    %li= link_to("Admin", admin_path)
    %li= link_to("Pages", pages_path)
    %li= @page.title
%h2.page-header
  = @page.title

-if @page.submenu != ""
  %div.row
    %div.col-sm-9
      = raw @page.content
    %div.col-sm-3
      = render partial: "submenu", locals: {submenu: @page.submenu}
- else
  = raw @page.content
  - if @page.slug == "home"
    %div.row
      %div.col-sm-4
        %h3="Featured"
        = render partial: "core_files/featured", locals: {featured: @featured_core}
      %div.col-sm-4
        %h3="News"
        = render partial: "news_items/recent_news", locals: {news_items: @news_items}
      %div.col-sm-4
        %h3="Follow Us"
        %a.twitter-timeline{"href"=>"https://twitter.com/TAPAS_Project?ref_src=twsrc%5Etfw"}
          -"Tweets by @tapas_project"
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
