<% # main container for facets/limits menu -%>

<div id="facets" class="facets sidenav">
  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h4 class='facets-heading'>
  	  <%= t('blacklight.search.facets.title') %>
    </h4>
  </div>

  <div id="facet-panel-collapse" class="collapse panel-body">
    <%= form_tag nil, method: :get do %>
      <% title_filter = @search.filter(:title) %>
      <div class="filter">
        <div class="filter-title">
          <%= title_filter.name.titlecase %>
        </div>
        <div class="filter-values">
          <%= text_field_tag 'search[title]', title_filter.value, class: 'form-control', placeholder: "My Community"  %>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="sort-dropdown-menu-button" aria-haspopup="true" aria-expanded="false">
          Sort by <%= @search.order.title if @search.order %>
        </button>
        <div class="dropdown-menu" aria-labelledby="sort-dropdown-menu-button">
          <% @search.orders.reject(&:active).each do |order| %>
            <%= link_to order.title, order.by.path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%=  link_to 'Reset', '?', class: 'btn btn-warning', role: 'button' %>
  </div>
</div>
