<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<%= render 'catalog/search_header' %>

<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Depositor</th>
    <th>Actions</th>
  </tr>
  <%- @results.map do |r| %>
    <tr>
      <td>
        <%- if params["model"] && params["model"] == "core_file" %>
          <a href="/core_files/<%= r.id %>">
        <%- elsif params["model"] && params["model"] == "collection" %>
          <a href="/collections/<%= r.id %>">
        <%- elsif params["model"] && params["model"] == "community" %>
          <a href="/communities/<%= r.id %>">
        <%- else %>
          <a href="/core_files/<%= r.id %>">
        <%- end %>
          <%= r.title %>
        </a>
      </td>
      <td>
        <%= r.description %>
      </td>
      <td>
        <%= r.depositor.nil? ? "No depositor on file" : r.depositor.email %>
      </td>
      <td>
        <%- if can?(:manage, r) %>
          <%= link_to "Edit", [:edit, r], class: "btn btn-default btn-sm" %>
          <%= link_to "Delete", r, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
