<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'catalog/search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'catalog/home' %>
  <% else %>
    <%= render 'catalog/search_results' %>
  <% end %>
</div>
