= form_for @community do |f|
  .container-fluid
    .row
      .form-horizontal
        .form-group
          = f.label :title, "Title", class: "control-label col-md-2"
          .col-md-6
            = f.text_field :title, required: true, pattern: ".*\\S.*", name: 'community[title]', class: "form-control", placeholder: "University Libraries"
        .form-group
          = f.label :description, "Description", class: "control-label col-md-2"
          .col-md-6
            = f.text_area :description, required: true, pattern: ".*\\S.*", name: 'community[description]', class: "form-control", placeholder: "Brief description of the community"
            %p.small.help-block="This field accepts plain text"
        .form-group
          = f.label :is_public, "Public?", class: "control-label col-md-2"
          = f.check_box :is_public, { checked: true }
        .form-group
          = f.label :thumbnail, "Thumbnail", class: "control-label col-md-2"
          .col-md-6
            - if @community.thumbnail.attached?
              =image_tag url_for(@community.thumbnail)
              = f.label :remove_thumbnail, "Remove Thumbnail"
              = f.check_box "remove_thumbnail", {:checked => false}
            = f.file_field :thumbnail, accept: ".jpeg, .jpeg, .png", direct_upload: true


    .row.form-group.institutions
      = f.label :institutions, "Affiliated Institutions", class: "control-label col-md-2"
      .col-md-6
        %span.institution
          = f.select :institutions, options_for_select(@institutions, @community.institutions.pluck(:id)), {}, {name: "community[institutions][]", class: "form-control pb1", multiple: true}

      -# TODO - add content date
      -# TODO - add keywords/subjects
    .row.form-group.project_members
      = f.label :project_members,"Project Members", class: "control-label col-md-2"
      .col-md-6
        %span.project_member
          = f.select :project_members, options_for_select(@users, @community.project_members.pluck(:id)), {}, {name: "community[project_members][]", class: "form-control", multiple: true}

    .row.form-group.project_editors
      = f.label :project_editors, "Project Editors", class: "control-label col-md-2"
      .col-md-6
        %span.project_editor
          = f.select :project_editors, options_for_select(@users, @community.project_editors.pluck(:id)), {}, { name: 'community[project_editors][]', class: "form-control", multiple: true}

    .row.form-group.project_admins
      = f.label :project_admins, "Project Admins", class: "control-label col-md-2"
      .col-md-6
        %span.project_admin
          = f.select :project_admins, options_for_select(@users, @community.project_admins.pluck(:id)), {}, { name: 'community[project_admins][]', class: "form-control", multiple: true}

  -# .row
  -#   .col-md-2
  -#     = f.label :og_reference, "External links"
  -#   .col-md-6
  -#     = f.text_area :og_reference, name: 'community[og_reference][]', class: "form-control", rows: 5
  -#     -# TODO

  %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
