- if can? :manage, @community
  = link_to "Edit", edit_community_path(@community), class:['btn', 'btn-info', 'btn-large']

%h2.page-header= @community.title

%div.row
  %div.col-md-3
    - if @community.thumbnails.blank?
      =image_tag "tapaslogo-opaque.png"
    -else
      %img{src:@community.thumbnails.first}
    %dt= "Description"
    %dd= @community.description
    -# external links TODO
    - if !@community.institutions.blank?
      %dt Affiliated Institutions
      - @community.institutions.each do |i|
        - int = Institution.find(i)
        %dd
          = link_to(int.name, institution_path(int))
        %br
    %dt= "Collection Count"
    %dd= @collections.count
    %dt= "Record Count"
    %dd= @rec_count
    %dt= "Project Members"
    - @community.members_with_roles.each do |pm|
      %dd
        = link_to(pm[:user].name, user_path(pm[:user].id))
        - if pm[:roles][0] != "member"
          = "(#{pm[:roles][0]})"


  %div.col-md-9
    %panel.panel-default.panel-records
      %div.panel-heading
        %h3.panel-title
          = "Collections"
          - if can? :manage, @community
            %small
              %a{href:new_collection_path(:community => @community), class: 'pull-right'}
                %i.fa.fa-plus
                = "Add New"
      %div.panel-body
        - @collections.each do |collection|
          %div.col-lg-3
            .collection.tile
              - if current_user_can? :edit, collection
                %a{href:edit_collection_path(collection), class: ['btn','btn-xs','btn-default','pull-right']}
                  %i.fa.fa-pencil
                  = "Edit"
              - if collection.thumbnails.blank?
                =image_tag "tapaslogo-opaque.png"
              -else
                %img{src:collection.thumbnails.first}
              %h4= link_to collection.title, collection
